/*Footer*/
.footer-area {
    background: #191919;
    position: relative;
    z-index: 1;
  }
  
  .footer-area a {
    display: inline-block;
    color: #7f7f7f;
    font-size: 12.5px;
    padding: 5px 0;
    text-decoration: none;
  }
  
  .footer-area a:hover {
    color: var(--secondary-color);
  }
  
  .footer-area .border-bottom {
    border-bottom-color: #252525 !important;
  }
  
  .foot-links {
    position: relative;
    z-index: 1;
  }
  
  .foot-menu h6 {
    color: #fff;
    text-transform: uppercase;
    font: 700 12px/1 var(--font-bold);
  }
  
  .footer-cities {
    gap: 10px 20px;
  }
  
  .footer-cities li a {
    text-decoration: none;
  }
  
  .foot-menu.socialBox a {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 20px;
  }
  
  .marketersLogo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .marketersLogo img {
    width: 140px;
    height: 40px;
    object-fit: contain;
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    transition: all 300ms ease-in-out;
  }
  
  .marketersLogo img:hover {
    transform: translateY(-2px);
  }
  
  .footer-bottom {
    padding: 10px 0;
    background-color: #101010;
  }
  
  .footer-bottom p {
    font-size: 12px;
  }
  
  .footer-bottom>div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-logo {
    display: flex;
    color: #fff;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .footer-logo a {
    width: 120px;
  }
  
  .copyrights {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #7f7f7f;
  }
  
  .copyrights p {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  
  .copyrights p img {
    width: 13px;
    margin-left: 5px;
  }
  
  .button-top {
    background: rgba(0, 0, 0, 0.32);
    position: fixed;
    cursor: pointer;
    left: 20px;
    bottom: 10px;
    color: #ffffff;
    font-size: 13px;
    opacity: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    transition: all 500ms ease;
    z-index: 99;
  }
  
  .button-top:hover {
    background: var(--corp-color);
  }
  
  @keyframes enq {
    50% {
      box-shadow: 0 0 0 1px rgba(61, 127, 251, 0.45),
        0 0 0 0px rgb(11 107 235 / 63%), 1rem 1rem 2rem rgb(0 0 0 / 25%);
    }
  }
  
  .enquiryBtn a i {
    margin-right: 0;
  }
  
  .enquiryBtn a i.fa-whatsapp {
    color: var(--whatsapp);
  }
  
  /*Footer*/
  