:root {
    --corp-color: #68ac78;
    --secondary-color: #cbcf44;
    --body-color: #3b3b3b;
    --lightgray: #f6f6f6;
    --gray: #2f2f2f;
    --vibrant-green: #1dcde2;
    --lightgreen: #edefe8;
    --font-light: "Benton300", sans-serif;
    --font-semibold: "Benton500", sans-serif;
    --font-bold: "BentonBold", sans-serif;
    --font-black: "Benton900", sans-serif;
    --corp-gradient: linear-gradient(45deg,
            var(--corp-color),
            var(--secondary-color),
            var(--corp-color)) right;
    --freight-regular: "FreightBigBook", serif;
    --facebook: #4267B2;
    --twitter: #00acee;
    --linkedin: #0e76a8;
    --youtube: #FF0000;
    --whatsapp: #25D366;
    --instagram: #c92bb7;
}

body {
    color: var(--body-color);
    font-family: "BentonRegular", sans-serif;
    overflow-x: hidden;
    font-size: 16px;
}

p a {
    color: var(--body-color);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    font-weight: bold;
}

a:hover {
    color: var(--body-color);
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.bg-green-gradient {
    background-image: linear-gradient(45deg, var(--corp-color), var(--secondary-color));
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}

.bg-lightgray {
    background-color: var(--lightgray) !important;
}

.bg-lightgreen {
    background-color: var(--lightgreen) !important;
}

.bg-blue {
    background-color: var(--corp-color) !important;
    color: #fff;
}

.bg-dark {
    background: var(--body-color) !important;
}

.bg-image {
    background: center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.bg-image::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--corp-gradient);
    background-size: 180%;
    z-index: -1;
    opacity: 0.8;
}

p {
    font-weight: 400;
    line-height: 1.6;
}

.gap-row {
    row-gap: 30px;
}

.gap-form-row {
    row-gap: 10px;
}

.padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-fluid {
    padding-left: 40px;
    padding-right: 40px;
}

.object-cover {
    object-fit: cover;
}

.text-green {
    color: var(--corp-color);
}

.text-lightgreen {
    color: var(--lightgreen) !important;
}

.filter-white {
    filter: grayscale(1) brightness(50);
}

.filter-dark {
    filter: grayscale(1) brightness(0);
}

.details-h1 {
    margin-bottom: 0;
    font-family: var(--font-bold);
    letter-spacing: 1px;
}

.heading .h3 {
    margin-bottom: 0;
    font-family: var(--font-bold);
    letter-spacing: 1px;
}

/* enquiry-sticky-btn */
.enquiry-sticky-btn {
    position: fixed;
    right: 0;
    top: calc(25% + 1rem);
    border: 0;
    padding: 10px 1rem;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--corp-color);
    color: #fff;
    border-radius: 10px 0 0 10px;
    width: 40px;
    height: 120px;
    z-index: 999999;
    box-shadow: 0 0 10px rgb(0 0 0 / 12%);
    transition: all 300ms ease-in-out;
}

.enquiry-sticky-btn:hover {
    background-color: #607f01;
}

.enquiry-sticky-btn.active {
    background-color: #607f01;
    right: 300px;
}

.enquiry-sticky-btn>span {
    position: absolute;
    transform: translate(-50%, -50%) rotate(-90deg);
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.enquiry-sticky-form {
    width: 300px;
    position: fixed;
    right: -300px;
    top: 25%;
    opacity: 0;
    visibility: hidden;
    padding: 1rem;
    border-radius: 1rem 0 0 1rem;
    background-color: #fff;
    border: solid var(--corp-color);
    border-width: 1px 0 1px 1px;
    transition: all 300ms ease-in-out;
    z-index: 999999;
    box-shadow: 0 0 10px rgb(0 0 0 / 12%);
}

.enquiry-sticky-form.active {
    visibility: visible;
    opacity: 1;
    right: 0;
}

.enquiry-sticky-form label {
    font-size: 13px;
    font-weight: 700;
}

.enquiry-sticky-form .form-group {
    margin-bottom: 8px;
}

.enquiry-sticky-form .form-control {
    margin: 0;
    border-radius: 5px;
    background-color: var(--lightgreen);
    padding: 10px;
}

/* enquiry-sticky-btn */

/*header*/
.header {
    position: fixed;
    right: 0;
    top: 0;
    left: 0px;
    z-index: 999;
    transition: top 300ms ease-in-out;
}

.header.fixed,
.header.notfixed {
    border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.top-header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--corp-color);
    border-bottom: 2px solid var(--corp-color);
    transition: all 300ms ease-in-out;
    height: 36px;
}

.header.fixed .top-header {
    height: 0;
    overflow: hidden;
    border-bottom: 0;
}

.top-header .rera {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    line-height: 1;
    text-align: center;
}

.top-header .top-menu {
    display: flex;
    gap: 5px;
    margin-top: 15px;
}

.top-header .top-menu li {
    font-size: 12px;
    font-family: var(--font-bold);
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: #fff;
}

.top-header .top-menu li.indian-flag img {
    width: auto;
    height: 25px;
}

.top-header .top-menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    color: var(--corp-color);
    text-transform: uppercase;
}

.top-header .top-menu li a:hover {
    color: var(--body-color);
}

.socialMediaLink {
    display: flex;
    flex-wrap: wrap;
}

.socialMediaLink li {
    display: flex;
}

.fa-x-twitter {
    background: #FFFFFF;
    height: 38px;
    width: 35px;
    padding: inherit;
    border-radius: 5px;
}

.twitter-newlogo1 svg {
    /* background: #FFFFFF; */
    color: white;
    height: 25px;
    width: 25px;
    padding: inherit;
    border-radius: 5px;
}

.twitter-newlogo1 svg:hover {
    color: yellow;
}

.main-header {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--corp-color);
    height: 68px;
}

.header .logo {
    width: 150px;
    padding: 4px 0px;
    transition: all 300ms ease-in-out;
    position: relative;
    z-index: 1;
}

.logo a {
    text-decoration: none;
    position: absolute;
    top: -34px;
}

.logo-text2 {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    position: absolute;
    top: 22px;
    left: 45px;
    color: orange;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 0;
    color: orange;
}

.header.fixed .logo {
    width: 110px;
}

.header .navi {
    display: flex;
    justify-content: flex-end;
}

.header .main-header .menu>ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 40px;
}

.header .main-header ul li {
    display: block;
}

.header .main-header ul li a {
    display: block;
    color: #fff;
    padding: 16px 0;
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    transition: all 300ms ease-in-out;
    text-decoration: none;
}

.header.fixed .main-header ul li a {
    padding: 12px 0;
}

.header .main-header ul li a::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--corp-color);
    z-index: -1;
    transform: scaleX(0);
    transition: all 300ms ease-in-out;
}

.header .main-header ul li:hover>a::before {
    transform: scaleX(1);
}

.header .main-header ul li:hover>a {
    color: var(--body-color) !important;
}

.menu ul li.hasChild a sup {
    font-size: 120%;
    top: -6px;
    left: 3px;
    display: inline-block;
    transition: all 300ms ease-in-out;
}

.menu ul li.hasChild:hover>a sup {
    transform: rotate(45deg);
}

.menu ul li.hasChild .dropdown {
    width: 250px;
    position: absolute;
    background-color: var(--corp-color);
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    visibility: visible;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: all 300ms ease-in-out;
}

.menu ul li.hasChild:hover .dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}

.dropdown ul {
    padding: 0 15px;
}

.header .main-header .dropdown ul li a {
    padding: 10px 0;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.dropdown ul li:last-child a {
    border-bottom: none;
}

.menu ul li.hasChild .dropdown ul li a::before {
    bottom: 0;
}

.dropdown ul li:last-child a {
    border-bottom: none;
}

.menu ul li.hasChild .dropdown.dropdown-lg {
    width: 100%;
    max-width: 100%;
    left: 0;
    padding: 10px;
}

.menu ul li.hasChild .dropdown.dropdown-lg ul {
    display: flex;
    flex-wrap: wrap;
}

.menu ul li.hasChild .dropdown.dropdown-lg ul li {
    width: calc(100% / 4);
    padding: 5px;
}

.menu ul li.hasChild .dropdown.dropdown-lg ul li a {
    text-transform: none;
    font-size: 13px;
    font-family: "BentonRegular", sans-serif;
    border-bottom: 0;
    padding: 0 0 0 10px;
}

.menu ul li.hasChild .dropdown.dropdown-lg ul li a::before {
    width: 4px;
    height: 4px;
    bottom: 50%;
    transform: translateY(50%);
}

/* mb menu */

.menuBtn {
    width: 40px;
    height: 20px;
    overflow: hidden;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    gap: 6px;
    transition: all 300ms ease-in-out;
    position: relative;
    cursor: pointer;
    display: none;
}

.menuBtn span {
    display: block;
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--body-color);
    transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menuBtn.closeMenuBtn {
    flex-direction: column;
}

.menuBtn.closeMenuBtn span {
    width: 100%;
    height: 2px;
    background-color: var(--corp-color);
    z-index: 5555;
}

.menuBtn.closeMenuBtn span#menuLine1 {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
    transform: rotate(45deg) translate(5px, 6px);
}

.menuBtn.closeMenuBtn span#menuLine2 {
    right: 100px;
}

.menuBtn.closeMenuBtn span#menuLine3 {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
    transform: rotate(-45deg) translate(5px, -6px);
}

.mbMenuContainer {
    position: fixed;
    left: 0;
    right: 0;
    top: 2px;
    bottom: 0;
    background: rgb(0 0 0 / 82%);
    -webkit-backdrop-filter: blur(4px) brightness(1.3);
    backdrop-filter: blur(4px) brightness(1.3);
    z-index: 99;
    display: none;
}

.mbMenuContainer .mbMenu {
    position: relative;
    height: 100%;
    width: 400px;
    padding: 70px 30px;
    margin-right: 0;
    margin-left: auto;
    background-color: #fff;
    overflow: auto;
    opacity: 0;
    transition: all 0.5s linear;
}

.mbMenuContainer.active .mbMenu {
    opacity: 1;
}

.mbMenuContainer .mbMenu ul li a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--gray);
    transition: all 300ms ease-in-out;
}

.bigMenuList ul li.active>a,
.mbMenuContainer .mbMenu ul li:hover>a,
.mbMenuContainer .mbMenu ul li a:focus {
    color: var(--body-color);
}

.bigMenuList,
.smallMenuList {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.bigMenuList ul li a {
    font-size: 3rem;
    font-family: "Benton300", sans-serif;
    line-height: 1;
}

.bigMenuList ul li a sup {
    display: inline-block;
    transition: all 300ms ease-in-out;
}

.bigMenuList ul li.active>a sup {
    transform: rotate(225deg);
}

.bigMenuList .dropdown li a {
    font-size: 1.5rem;
    font-family: "Benton500", sans-serif;
    position: relative;
    padding-left: 30px;
}

.bigMenuList .dropdown {
    display: none;
}

.bigMenuList .dropdown li a::before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
    height: 2px;
    width: 20px;
    background-color: var(--corp-color);
    border-radius: 10px;
}

.mbMenuContainer .mbMenu .smallMenuList ul li a {
    font-size: 1.25rem;
    line-height: 1;
}

.mbMenuContainer .mbMenu .socialMediaLink ul {
    display: flex;
    gap: 10px;
}

.mbMenuContainer .mbMenu .socialMediaLink ul li a {
    font-size: 1.2rem;
}

/* mb menu */

.enquireBtn a {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    background: var(--corp-gradient);
    background-size: 200%;
    color: #fff;
    min-width: 120px;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
}

.enquireBtn a:hover {
    background-position-x: left;
}

.enquireBtn a i {
    margin-right: 5px;
}

/*header*/

ul {
    margin-bottom: 0px !important;
    padding: 10px;
}

.activeHeader{
    display: block !important;
}

@media (max-width: 1199px) {
    .menuBtn{
        display: flex;
    }
}
