.insight-image {
    height: 200px;
    width: 300px;
}

.insight-button {
    text-align: center;
    padding: 10px;
    background: #68ac78;
}
.insight-button a{
    color: #fff;
    text-decoration: none;
}